@use 'variables' as var;

.job-list {
  margin-top: 15rem;
  padding-bottom: 5rem;
  position: relative;
  background: var.$color-base;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    display: grid;
    grid-gap: 6rem 1.5rem;
    grid-template-columns: 1fr;

    @media (min-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 780px) {
      grid-gap: 7rem 3rem;
    }

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .spinner,
  .btn-primary {
    margin: 5rem 0;
    font-size: 1.65rem;
  }
}
